@media (max-width: 991px) {
  .pl0, .pr0 {
    padding-right: inherit;
    padding-left: inherit; } }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.pl0 {
  padding-left: 0; }

.pr0 {
  padding-right: 0; }

.container-fluid {
  background-color: #f7f9fc;
  font-family: "Lato", sans-serif;
  padding: 5em 0; }

header.header {
  margin-bottom: 70px; }

.logo {
  font-size: 42px;
  font-weight: bold;
  font-style: italic;
  color: #333; }

nav {
  float: right; }

.nav-menu {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; }
  .nav-menu li {
    display: inline; }
  .nav-menu li:not(:last-child) {
    margin-right: 30px; }
  .nav-menu a {
    color: #333333;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s; }
    .nav-menu a:hover {
      color: #bdbdbd; }

.search-input {
  font-size: inherit;
  font-family: inherit;
  background: url("../images/Search.png") no-repeat 2px 0;
  padding-left: 30px;
  width: 0;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -ms-transition: width .2s;
  -o-transition: width .2s;
  transition: width .2s; }

.search-input:focus {
  width: 150px;
  cursor: text;
  border-bottom: 1px solid #333; }

h1 {
  font-size: 40px; }

.contact-us {
  padding: 3em 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); }
  .contact-us p {
    padding-bottom: 40px;
    border-bottom: 1px solid #eee; }
  .contact-us input, .contact-us .submit, .contact-us textarea {
    font-family: inherit;
    font-size: 20px;
    color: #bcbdbf;
    padding-left: 30px;
    margin-bottom: 30px;
    width: 100%;
    border: 0;
    background-color: #f7f9fc;
    outline: none; }
  .contact-us textarea {
    resize: none;
    padding-top: 20px; }
    .contact-us textarea:focus {
      box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1); }
  .contact-us input {
    height: 55px; }
    .contact-us input:not(.submit):focus {
      box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.1); }
  .contact-us .submit {
    padding: 0;
    width: initial;
    background: none;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5c6bc0;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s; }
    .contact-us .submit:hover {
      color: #9ba7ec; }
