body {
    margin: 0;
    padding: 0;
    background-color: #d9dbdd;
    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

.wrapper {
    width: 980px;
    margin: 25px auto;
}

#preloader {
    position: absolute;
    top: 40%;
    width: 125px;
    height: 125px;
    left: 38%;
    background-image: url('../images/ripple.svg');
    background-position: center;
    background-repeat: no-repeat;
}

/*----------- SIDEBAR -----------*/

.sidebar {
    float: left;
    width: 30%;
}

.photo {
    background: url(../images/photo_bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
}

    .photo img {
        border-radius: 50%;
        width: 63%;
        left: 3.4em;
        top: 55px;
        position: absolute;
        border: 10px solid rgba(0,0,0,.3);
    }

nav {
    background-color: #383838;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
    border-bottom: 1px solid #222b2e;
}

.menu .fa {
    margin-left: 10px;
}

.menu a {
    text-align: right;
    width: 100%;
    display: table;
    padding: 25px 20px;
    color: #c6c6c6;
    font-size: 18px;
}

.list-hover-slide li {
    position: relative;
    overflow: hidden;
}

.list-hover-slide a {
    display: block;
    position: relative;
    z-index: 1;
    transition: .35s ease color;
}

    .list-hover-slide a:before {
        content: '';
        display: block;
        z-index: -1;
        position: absolute;
        left: -102%;
        top: 0;
        width: 100%;
        height: 100%;
        border-right: solid 5px #3C3735;
        background: #D25B4F;
        transition: all .35s ease;
    }

    .list-hover-slide, .list-hover-slide a:hover:before {
        left: -5px;
    }

        .list-hover-slide a:hover {
            color: #fefefe;
        }

/*----------- CONTENT -----------*/
.content {
    width: 70%;
    background-color: #fefefe;
    float: left;
    min-height: 470px;
    position: relative;
}

.cont-wrap {
    padding: 20px 20px 0;
    overflow: hidden;
    visibility: hidden;
}


/*----------- PROFILE -----------*/

h1, h2 {
    font-weight: lighter;
}

h1 {
    width: 65%;
    font-size: 29px;
    margin: 0;
}

    h1 span {
        font-weight: bold;
    }

h2 {
    font-size: 25px;
}

.step-light {
    margin: 15px 0;
    width: 200px;
    height: 3px;
    background-color: #D25B4F;
}

.step-bold {
    margin: 15px 0;
    width: 50px;
    height: 5px;
    background-color: #D25B4F;
}

.profile p {
    font-size: 1.1em;
    letter-spacing: 0.025em;
    text-align: justify;
    padding: 1.3em 0;
    border-bottom: 1px solid #c6c6c6;
}

.profile li {
    margin: 0 20px 20px 0;
    float: left;
    width: 45%;
}

.b-info {
    float: left;
    font-size: 16px;
    border: 1px solid #c6c6c6;
    width: 100%;
}

    .b-info > div:first-child {
        border-right: inherit;
        background-color: #f1f1f1;
        width: 35%;
    }

    .b-info > div:last-child {
        text-align: center;
        width: 65%;
    }

    .b-info > div {
        float: inherit;
        padding: 10px;
    }

/*----------- FOOTER -----------*/

footer {
    background-color: #f1f1f1;
    float: left;
    width: 100%;
    padding: 5px 50px;
}

    footer p {
        display: inline-block;
    }

        footer p.socials {
            float: right;
        }

    footer a {
        color: inherit;
    }

    footer a {
        letter-spacing: 1.2em;
        -webkit-transition: color .2s ease-out;
        -moz-transition: color .2s ease-out;
        -ms-transition: color .2s ease-out;
        -o-transition: color .2s ease-out;
        transition: color .2s ease-out;
    }

        footer a:last-child {
            letter-spacing: normal;
        }

        footer a:hover {
            color: #D25B4F;
        }
/*----------- RESUME -----------*/

.resume h1 {
    border-bottom: 1px solid #c6c6c6;
    width: 100%;
    padding-bottom: 15px;
}

.resume p {
    text-align: justify;
}

.refer {
    text-decoration: underline;
    font-size: 1.1em;
    color: #58B0FD;
}

.resume li {
    border-bottom: 1px solid #c6c6c6;
}

.resume h3 span {
    font-weight: normal;
    font-size: 0.9em;
}

span.year {
    color: #949494;
}

    span.year i {
        margin-right: 8px;
    }

ul.duties {
    list-style: disc inside;
}

    ul.duties li {
        border: none;
    }

/*----------- SKILLS -----------*/

.skills {
    border-bottom: 1px solid #c6c6c6;
}

#skillbars p {
    margin: 8px 0;
}

.progress {
    background-color: #e6e6e6;
    height: 20px;
    position: relative;
}

.bar {
    background-color: #D25B4F;
    position: absolute;
    width: 1%;
    padding-right: 5px;
    height: 100%;
    color: #fff;
    text-align: right;
    font-size: 14px;
}

.space {
    margin: 20px 0;
}

.row:after {
    content: '';
    clear: both;
    display: table;
}

.skill {
    float: left;
    width: 45%;
}

    .skill > p:first-child {
        font-weight: bold;
        text-align: center;
    }

    .skill:nth-child(odd) {
        margin-right: 3%;
    }

.row:after {
    content: '';
    clear: both;
    display: table;
}

.skill:nth-child(odd) {
    margin-right: 3%;
}

/*----------- PORTFOLIO -----------*/

.portfolio h1 {
    border-bottom: 1px solid #c6c6c6;
    width: 100%;
    padding-bottom: 15px;
}

.my-portf {
    margin-top: 20px;
    justify-content: space-around;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

    .my-portf li {
        margin-bottom: 20px;
        width: 45%;
        overflow: hidden;
        position: relative;
        height: 290px;
    }

    .my-portf img {
        width: 100%;
        transition: transform .3s ease-out;
    }

    .my-portf i {
        float: right;
    }

    .my-portf div {
        position: absolute;
        left: 0;
        height: 73px;
        bottom: -73px;
        background-color: #D25B4F;
        padding: 25px 30px 15px 15px;
        -moz-transition: bottom .3s ease-out;
        -o-transition: bottom .3s ease-out;
        -webkit-transition: bottom .3s ease-out;
        transition: bottom .3s ease-out;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        color: #fefefe;
    }

    .my-portf a {
        color: #fefefe;
    }

    .my-portf li:hover div {
        bottom: 0;
    }

    .my-portf li:hover img {
        -moz-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
        -o-transform: translateY(-70px);
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
/*----------- CONTACTS -----------*/

input, textarea {
    outline: none;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
}

    input[type="text"], input[type="email"], textarea {
        margin: 10px 0;
        padding: 15px 10px;
        border: 2px solid #e6e6e6;
        border-radius: 3px;
        -moz-transition: box-shadow .2s ease-in, border .2s ease-in;
        -o-transition: box-shadow .2s ease-in, border .2s ease-in;
        -webkit-transition: box-shadow .2s ease-in, border .2s ease-in;
        transition: box-shadow .2s ease-in, border .2s ease-in;
    }

        input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
            border-color: #F16455;
        }

:focus::-webkit-input-placeholder {
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: #878787;
}

:focus::-moz-placeholder {
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: #878787;
}

:focus:-moz-placeholder {
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: #878787;
}

:focus:-ms-input-placeholder {
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    color: #878787;
}

textarea {
    width: 100%;
    height: 187px;
    resize: none;
}

input[type="submit"] {
    position: relative;
    padding: 15px 20px;
    background-color: #D25B4F;
    color: #fefefe;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

    input[type="submit"]:hover {
        background-color: #C7584D;
    }

    input[type="submit"]:active {
        box-shadow: inset 1px 2px 3px 1px rgba(0,0,0,0.3);
    }
